/* Input Fields*/
.solve-module div.inputColorBox,
.solve-module img.inputCheckImg,
.solve-module .imgBox{
	clear: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	border: solid 2px black;
	box-sizing: content-box;
	margin: 0 2px;
}

.solve-module div.inputColorBox,
.solve-module img.inputCheckImg {
	cursor: pointer;
}

.solve-module .imgBox{
	background-size: contain;
}

.solve-module form input {
	clear: none;
	display: inline-block;
}

div.inputColorBox.red{
	background-color: red;
}
div.inputColorBox.black{
	background-color: black;
}
div.inputColorBox.white{
	background-color: white;
}
div.inputColorBox.blue{
	background-color: blue;
}
div.inputColorBox.yellow{
	background-color: yellow;
}
div.inputColorBox.green{
	background-color: green;
}
div.inputColorBox.none{
	background-size: contain;
	background-image: url("../img/noWire.png");
}

.solve-module form input.radioI:checked + label > img.inputCheckImg,
.solve-module form input.radioC:checked + label > div.inputColorBox,
.solve-module form input.checkI:checked + label > img.inputCheckImg,
.solve-module form input.checkC:checked + label > div.inputColorBox{
	border: solid 2px lime;
}

.solve-module form input.radioI,
.solve-module form input.radioC,
.solve-module form input.checkI,
.solve-module form input.checkC{
	display: none;
}

.solve-module form input.radioI[disabled] + label > div.inputCheckImg,
.solve-module form input.radioC[disabled] + label > div.inputColorBox,
.solve-module form input.checkI[disabled] + label > img.inputCheckImg,
.solve-module form input.checkC[disabled] + label > div.inputColorBox{
	opacity: 0.2;
}

.solve-module form input[type=number]{
	width: 50px;
}

.menu-module{
	list-style-type: none;
	display: inline;
	margin-right: 20px;
	cursor: pointer;
}

.solve div{
	display: inline-block;
}

.solve>div{
	margin: 3px;
	padding: 0 3px 3px 3px;
	border: 2px solid black;
	vertical-align: top;
}

.outText {
	margin: 5px 0 5px 0;
}

.solve-module {
	position: relative;
	max-width: 472px; 
}

.close-button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.5em;
	line-height: 1;
	cursor: pointer;
}

.solve-module div.box div.whoBox{
	width: 98px;
    height: 95px;
	padding-top: 5px;
	margin: 10px;
	background-size: contain;
	background-position: center;
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
}

.solve-module div.box div.whoBox.bl{
	background-image: url("../img/who/bl.png");
}
.solve-module div.box div.whoBox.br{
	background-image: url("../img/who/br.png");
}
.solve-module div.box div.whoBox.lc{
	background-image: url("../img/who/lc.png");
}
.solve-module div.box div.whoBox.rc{
	background-image: url("../img/who/rc.png");
}
.solve-module div.box div.whoBox.tl{
	background-image: url("../img/who/tl.png");
}
.solve-module div.box div.whoBox.tr{
	background-image: url("../img/who/tr.png");
}

.solve-module ul.whoList{
	padding-left: 0px;
}

.solve-module ul.whoList > li{
	font-family: monospace;
	font-size: 1.35em;
	list-style-type: none;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
.solve-module ul.whoList > li:hover{
	background-color: lightgray;
}