
/* Input Fields*/
.solve-module div.inputColorBox {
	clear: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid 2px black;
	vertical-align: super;
	cursor: pointer;
}

.solve-module img.inputCheckImg {
	clear: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	border: solid 2px black;
	margin: 0 2px;
	cursor: pointer;
}

.solve-module form input {
	clear: none;
	display: inline-block;
}

.solve-module form input.radioC{
	display: none;
}

div.inputColorBox.red{
	background-color: red;
}
div.inputColorBox.black{
	background-color: black;
}
div.inputColorBox.white{
	background-color: white;
}
div.inputColorBox.blue{
	background-color: blue;
}
div.inputColorBox.yellow{
	background-color: yellow;
}
div.inputColorBox.none{
	background-image: url("../img/noWire.png");
}

.solve-module form input.radioC:checked + label > div.inputColorBox{
	border: solid 2px lime;
}

.solve-module form input.checkI{
	display: none;
}
.solve-module form input.checkI:checked + label > img.inputCheckImg{
	border: solid 2px lime;
}

.solve-module form input.checkI[disabled] + label > img.inputCheckImg{
	opacity: 0.2;
}

.solve-module form input[type=number]{
	width: 50px;
}

.solve-module .imgBox{
	clear: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	border: solid 2px black;
}

.menu-module{
	list-style-type: none;
	display: inline;
	margin-right: 20px;
	cursor: pointer;
}

.solve div{
	display: inline-block;
}

.solve>div{
	margin: 3px;
	padding: 0 3px 3px 3px;
	border: 2px solid black;
	vertical-align: top;
}

.imgBox {
	background-size: contain;
	margin: 3px;
}

.outText {
	margin: 5px 0 5px 0;
}

.solve-module {
	position: relative;
}

.close-button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.5em;
	line-height: 1;
	cursor: pointer;
}